.breadcrumbs-container {
  padding: 0 10px;
  .icon {
    margin: 7px 10px 0 7px;
    display: inline-block;
    width: 15px;
    height: 15px;
    path {
      fill: #fff;
    }
  }
  .link-item {
    font-size: 20px;
    color: #fff;
    transition: .3s;
    &:hover {
      color: #f73e3f;
    }
  }
}