body {
  overflow: hidden;
  &.app-mounted {
    overflow: unset;
  }
}

.heading-title-hightlight {
  &::after {
    display: none;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.our-investor-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
}

.block-gallery.layout-04 .item {
  height: 450px;
  img {
    height: 100%;
    object-fit: cover;
  }
  .title-content {
    text-transform: capitalize;
    color: var(--sala-alway-white, $neutral_white);
  }
  .desc {
    color: var(--sala-alway-white, $neutral_white);
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
  }
}

.vz-span {
  text-decoration: none;
  color: #f73e3f;
  &::after {
    display: none;
  }
}

.block-image-box.layout-04 .image-box {
  border: none;
}

.backtotop,
.vz-btn {
  background-color: #f73e3f !important;

  &:hover {
    background-color: #cd0e0e !important;
  }
}

.contact-btn {
  background-color: #f73e3f;
  // display: inline-block;

  &:hover {
    background-color: #cd0e0e !important;
  }
}

.spin {
  border-top-color: #f73e3f;
  border-left-color: #f73e3f;
  border-bottom-color: #f73e3f;
}

.vh100 {
  height: 100vh;
}

.min-vh100 {
  min-height: 100vh;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  &.line-2 {
    -webkit-line-clamp: 2;
  }
}
