.vz-header {
  // background-color: transparent;
  position: static;
  z-index: 10;
  width: 100%;
  transition: 2s ease;
  background-color: white;
  box-shadow: 0 1px 15px 1px #cfcfcf59;

  &.bg-color {
    left: 0;
    top: 0;
    position: fixed;
  }
}

.industries-menu {
  max-width: 875px;
}

.solution-menu {
  max-width: 285px !important;
  .mega-menu-item {
    flex: unset !important;
    max-width: unset !important;
  }
}

.vz-sub-menu {
  color: white;
  text-shadow: 1px 1px 1px rgba(gray, 0.3);

  &.menu-text--black {
    color: black;
  }

  &.menu-text--red {
    color: #f73e3f;
  }

  &:hover {
    color: #f73e3f;
    .vz-toggle-sub--menu {
      &::after {
        color: #f73e3f;
      }
    }
  }
}

.vz-toggle-sub--menu {
  &::after {
    color: white;
  }

  &.arrow-black {
    &::after {
      color: black;
    }
  }
}

.vz-sub-menu--item {
  &:hover {
    color: #f73e3f;
  }
}
