.ourachievement {
  @media (min-width: 1024px) {
    transform: translateY(-5px);
    background-color: white;
  }

  &-inner {
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 250px;
    }
  }
}
