.partner {
  &-infinite {
    gap: 18px;
  }

  &-item {
    padding: 6px 18px !important;
  }

  &-thumb {
    img {
      width: 35px !important;
    }
  }

  &-thumb--image {
    margin-right: 5px !important;
  }

  &-thumb--title {
    font-size: 18px !important;
  }
}
