.use-case {
  &--block-infinite {
    margin: 0 auto;
    max-width: 80vw;
  }
  &--infinite {
    gap: 30px;
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap !important;
    justify-content: center;
  }

  &--item {
    padding: 15px !important;
    min-width: unset !important;
    margin: 0 !important;
  }
}
