.use-case {
  &--block-infinite {
    margin: 0 auto;
    max-width: 80vw;
  }
  &--infinite {
    gap: 20px;
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap !important;
    justify-content: center;
  }

  &--item {
    padding: 15px !important;
    min-width: unset !important;
    margin: 0 !important;

    span {
      font-size: 20px !important;
    }
  }

  &--thumb {
    img {
      width: 30px !important;
    }
  }
}
